extends layout
block content
    div
        h2 Bienvenido
        hr
        div 
            h4 Passport 
            div
                a(href="/signin") INICIAR SESION
            div
                a(href="/signup") REGISTRARSE
        hr
        div
            h4 Iniciar con google
            a(href="/auth/google") Google
        hr
        div
            h4 Iniciar con Passwordless
            a(href="/auth/passwordless") Iniciar con Passwordless