extends layout
block content
    h2 INICIAR SESION
    form(action="", method="post")
        div
            label(for="") Correo:
            input(type="email", name="email")
        div
            label(for="") Contraseña
            input(type="password", name="password")
        div 
            button(type="submit") SIGN IN!
    
    h3 No tienes cuenta aun..?
    a(href="/signup") REGISTRARSE