extends layout
block content
    h2 INICIAR SESION CON PASSWORDLESS
    form(action="", method="post")
        div
            label(for="") Correo:
            input(type="email", name="user")
        div 
            button(type="submit") SIGN IN!
    