extends layout
block content
    h1 REGISTRARSE
    form(action="/signup", method="post")
        div
            label(for="name") Nombre:
            input(type="text" name="name")
        div
            label(for="correo") Correo:
            input(type="email", name="email")
        div
            label(for="password") Contraseña:
            input(type="password", name="password")
        div
            button(type="submit") Sign up!
    
    h3 Ya tienes una cuenta?
    a(href="/signin") INICIAR SESION